PORT=3004
AWS_REGION=ap-southeast-1

DB_HOST=
DB_USER=admin
DB_PASSWORD=
DB_NAME=ecommerce_order_db

COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

USER_SERVICE_URL=http://127.0.0.1:3000
PRODUCT_SERVICE_URL=http://127.0.0.1:3001
INVENTORY_SERVICE_URL=http://127.0.0.1:3002
CART_SERVICE_URL=http://127.0.0.1:3003
PAYMENT_SERVICE_URL=http://127.0.0.1:3005

PAYMENT_REQUESTED_TOPIC_ARN=
PAYMENT_RESULT_QUEUE_URL=

INTERNAL_API_KEY=